/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-color: #1890ff;
  --border-radius: 2px;

  --light: #ffffff;
  --light-soft: #f8f8f8;
  --light-mute: #f2f2f2;
  --light-little: rgba(255, 255, 255, 0.2);

  --dark: rgba(0, 0, 0, 0.88);
  --dark-soft: #222222;
  --dark-mute: #282828;
  --dark-little: rgba(0, 0, 0, 0.2);

  --divider-dark: rgba(84, 84, 84, 0.65);
  --divider-light: rgba(0, 0, 0, 0.06);
}

.AppMain {
  transition: all 0.3s;
  min-height: 100vh;
}

.AppMain[mode='dark'] {
  --background-color: var(--dark);
  --text-color: rgba(255, 255, 255, 0.85);
  --text-color-soft: rgba(255, 255, 255, 0.65);
  --icon-color: var(--light-little);

  background-color: var(--background-color);
}

.AppMain[mode='light'] {
  --background-color: var(--light);
  --text-color: rgba(0, 0, 0, 0.85);
  --text-color-soft: rgba(0, 0, 0, 0.65);
  --icon-color: var(--dark-little);

  background-color: var(--background-color);
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
